/* categorias */

.main {
    .mainCategorias__div--estilo {
        margin-bottom: 5rem;
        .mainCategorias__bienvenida {
            color: #231123;
            font-size: 2.5rem;
            text-align: center;
            margin: 2rem 12rem 1rem 3rem;
        }
    }

    div {
        .mainCategorias__boton--estilo {
            background-color: #231123;
            border-color: black;
            border-radius: 3rem;
            width: 80%;
            padding: 1rem;
            margin: 2rem 0rem 3rem 3rem;

            ul {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 0rem;
                li {
                    list-style: none;
                    .mainCategorias__botonA--estilo {
                        text-decoration: none;
                        font-size: 1.5rem;
                        color: #ffcab1;
                    }
                }
                .mainCategorias__botonP--estilo {
                    color: #ffcab1;
                    font-size: 1.5rem;
                }
            }
        }
    }
    div {
        ul {
            li {
                list-style: none;
                div {
                    .mainCategorias__divBoton--estilo {
                        background-color: #231123;
                        border-color: black;
                        border-radius: 3rem;
                        width: 70%;
                        padding: 1rem;
                        margin: 2rem 0rem 3rem 6.1rem;
                        .mainCategorias__divBotonA--estilo {
                            text-decoration: none;
                            font-size: 1.5rem;
                            color: white;
                        }
                        .mainCategorias__flecha--estilo {
                            border: solid;
                            border-radius: 20px;
                            margin-left: 2rem;
                        }
                    }
                }
            }
        }
    }
    .mainCategorias__divCard--margen {
        width: 1000px;
        margin: 1rem 1rem 1rem 3rem;
        div {
            div {
                .mainCategorias__divCard--estilos {
                    margin: 1.5rem 0rem 1rem 2rem;
                    border-radius: 20px;
                    background-color: #231123;
                    .mainCategorias__divCardImg--estilos {
                        border-radius: 20px;
                        height: 200px;
                    }
                    .mainCategorias__divCardTexto--estilos {
                        color: white;
                        .mainCategorias__divCardH2--estilos {
                            display: flex;
                            justify-content: center;
                        }
                        .mainCategorias__cardP--estilos {
                            margin-left: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}