/* headerResponsive */

@media only screen and (max-width: 480px) {
    .header {
        display: inline-block;

        .header__p--estilo {
            font-size: 4rem;
            padding-left: 50px;
        }

        nav {
            header__navUl {
                display: inline-block;
            }
        }
    }

}

/* footerResponsive */

@media only screen and (max-width: 480px) {
    .footer {
        display: inline-block;
        width: 100%;

        nav {
            .footer__navUl {
                display: inline-block;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .linea {
        margin: 0rem 0rem 2rem 8.4rem;
    }
}