@charset "UTF-8";
/* generales */
* {
  margin: 0;
  padding: 0;
}

.backgroundColor {
  background-color: #FFCAB1;
}

.linea {
  border: double 5px rgba(35, 17, 35, 0.8117647059);
  margin: 2rem 0rem 2rem 0rem;
  padding: 0rem;
}

.row_margin {
  margin: 0rem;
}

/* header */
.header {
  background-color: #231123;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__p--estilo {
  color: #ffcab1;
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.header .header__nav .header__navUl {
  display: flex;
}
.header .header__nav .header__navUl .header__navUlLi {
  list-style: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: oblique;
  margin: 1.5rem;
}
.header .header__nav .header__navUl .header__navUlLi .header__navUlLiA {
  color: #ffcab1;
  text-decoration: none;
}

/* footer */
.footer {
  background-color: #231123;
  padding: 1rem 0.4rem 0rem 0rem;
  display: flex;
  justify-content: flex-end;
}
.footer .footer__div--flex {
  display: flex;
}
.footer .footer__div--flex div ul .footer__divRedes--estilo {
  list-style: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: oblique;
  margin: 0.8rem 8rem 0rem 0rem;
  align-items: center;
}
.footer .footer__div--flex div ul .footer__divRedes--estilo .footer__divRedesA--estilo {
  color: #ffcab1;
  align-items: center;
}
.footer .footer__div--flex div ul .footer__divRedes--estilo .footer__icono--tamaño {
  font-size: 1.5rem;
  margin-right: 2rem;
}
.footer .footer__nav .footer__navUl {
  display: flex;
}
.footer .footer__nav .footer__navUl .footer__navUlLi {
  list-style: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: oblique;
  margin: 1.5rem;
}
.footer .footer__nav .footer__navUl .footer__navUlLi .footer__navUlLiA {
  color: #ffcab1;
  text-decoration: none;
}

/* index */
.main .carrusel--estilo {
  width: 1000px;
  height: 675px;
  margin: 1rem 1rem 1rem 5rem;
}
.main .carrusel--estilo .carrusel--estiloBordes {
  border-radius: 5rem;
}
.main .main__aside--position {
  display: inline-block;
}
.main .main__aside--position .main__aside--display {
  position: fixed;
  top: 168px;
  right: 0px;
}
.main .main__aside--position .main__aside--display .main__asideImg--estilo {
  width: 200px;
  height: 300px;
}
.main .main__aside--position .main__asideIconoWapp--display {
  position: fixed;
  top: 540px;
  left: 18px;
}
.main .main__aside--position .main__asideIconoWapp--display .main__asideIcono--estilo {
  font-size: 1.5rem;
}
.main .main__aside--position .main__asideIconoInsta--display {
  position: fixed;
  top: 579px;
  left: 18px;
}
.main .main__aside--position .main__asideIconoInsta--display .main__asideIcono--estilo {
  font-size: 1.5rem;
}
.main .main__titulo {
  align-items: center;
  text-align: center;
  margin: 1rem 5rem 4rem 0rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.main .main__titulo .main__h1 {
  font-size: 3.5rem;
  color: #231123;
}
.main div h2 section .main__bienvenida {
  color: #231123;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 1rem 13rem 1rem 3rem;
}
.main .container div div .container__p--estiloImpar {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #231123;
  margin: 1rem 1rem 0rem 0rem;
}
.main .container div .container__div--estilo {
  display: flex;
  justify-content: center;
}
.main .container div .container__div--estilo .container__imgImpar--estilo {
  width: 550px;
  border-radius: 4rem 6rem 3rem 12rem;
  margin: 0rem 4rem 0rem 0rem;
}
.main .container div .container__div--estilo {
  display: flex;
  justify-content: center;
}
.main .container div .container__div--estilo .container__imgPar--estilo {
  width: 525px;
  border-radius: 7rem 4rem 7rem 1rem;
  margin: 2.5rem 0rem 0rem 0rem;
}
.main .container div div .container__p--estiloPar {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #231123;
  margin: 4rem 2rem 1rem 5rem;
}
.main .container div div .container__p--estiloImpar {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #231123;
  margin: 1rem 1rem 0rem 0rem;
}
.main .container div .container__div--estilo {
  display: flex;
  justify-content: center;
}
.main .container div .container__div--estilo .container__imgImpar--estilo {
  width: 550px;
  border-radius: 4rem 6rem 3rem 12rem;
  margin: 0rem 4rem 0rem 0rem;
}
.main .container div .container__div--estilo {
  display: flex;
  justify-content: center;
}
.main .container div .container__div--estilo .container__imgBanquete--estilo {
  border-radius: 6rem 10rem 4rem 10rem;
  width: 950px;
  height: 500px;
}
.main .container div .container__p--estiloLargo {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #231123;
  margin: 2rem 5rem 0rem 1rem;
}
.main .container div div .container__p--estiloFinal {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #231123;
  margin: 1rem 1rem 2rem 1rem;
}
.main .container div .container__div--estilo {
  display: flex;
  justify-content: center;
}
.main .container div .container__div--estilo .container__imgFamilia--estilo {
  border-radius: 2rem 2rem 8rem 8rem;
  margin-bottom: 1rem;
  width: 600px;
  height: 375px;
}
.main .container div div .container__p--estiloFinal {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #231123;
  margin: 1rem 1rem 2rem 1rem;
}

/* novedades */
.main .mainNovedades__div--estilo {
  margin-bottom: 5rem;
}
.main .mainNovedades__div--estilo .main__bienvenida {
  color: #231123;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 1rem 12rem 1rem 3rem;
}
.main .mainNovedades__divBoton--estilo {
  background-color: #231123;
  border-color: black;
  border-radius: 3rem;
  width: 80%;
  padding: 1rem;
  margin: 2rem 0rem 3rem 3rem;
}
.main .mainNovedades__divBoton--estilo ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0rem;
}
.main .mainNovedades__divBoton--estilo ul li {
  margin: 0rem 4rem 0rem 4rem;
  list-style: none;
}
.main .mainNovedades__divBoton--estilo ul li .mainNovedades__boton--estilo {
  background-color: #231123;
}
.main .mainNovedades__divBoton--estilo ul li .mainNovedades__boton--estilo .mainNovedades__botonA--estilo {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffcab1;
}
.main .mainNovedades__divBoton--estilo ul .mainNovedades__botonP--estilo {
  color: #ffcab1;
  font-size: 1.5rem;
}
.main .mainNovedades__section ul li {
  list-style: none;
}
.main .mainNovedades__section ul li .main__botonNovedades--estilo {
  background-color: #231123;
  border-color: black;
  border-radius: 3rem;
  width: 83%;
  padding: 1rem;
  margin: 2rem 0rem 3rem 1rem;
}
.main .mainNovedades__section ul li .main__botonNovedades--estilo .main__botonA--estilo {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffcab1;
}
.main .mainNovedades__section ul li .main__botonNovedades--estilo .main__flecha--estilo {
  border: solid;
  border-radius: 20px;
  margin-left: 2rem;
}
.main .mainNovedades__section ul .mainNovedades__carrusel--estilo {
  width: 1000px;
  margin: 1rem 1rem 1rem 3rem;
}
.main .mainNovedades__section ul .mainNovedades__carrusel--estilo .mainNovedades__carrusel--estiloBordes {
  border-radius: 100px;
}
.main .mainNovedades__section ul .mainNovedades__carrusel--estilo div div .mainNovedades__divCard--estilos {
  margin: 1.5rem 0rem 1rem 0rem;
  border-radius: 20px;
  background-color: #231123;
}
.main .mainNovedades__section ul .mainNovedades__carrusel--estilo div div .mainNovedades__divCard--estilos .mainNovedades__divCardImg--estilos {
  border-radius: 20px;
  height: 200px;
}
.main .mainNovedades__section ul .mainNovedades__carrusel--estilo div div .mainNovedades__divCard--estilos .mainNovedades__divCardTexto--estilos {
  color: white;
}
.main .mainNovedades__section ul .mainNovedades__carrusel--estilo div div .mainNovedades__divCard--estilos .mainNovedades__divCardTexto--estilos .mainNovedades__divCardH2--estilos {
  display: flex;
  justify-content: center;
}
.main .mainNovedades__section ul .mainNovedades__carrusel--estilo div div .mainNovedades__divCard--estilos .mainNovedades__divCardTexto--estilos .mainNovedades__cardP--estilos {
  margin-left: 1.5rem;
}
.main .lineaNovedades {
  border: double 5px rgba(35, 17, 35, 0.8117647059);
  margin: 0rem 14rem 3rem 5rem;
}

/* categorias */
.main .mainCategorias__div--estilo {
  margin-bottom: 5rem;
}
.main .mainCategorias__div--estilo .mainCategorias__bienvenida {
  color: #231123;
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 12rem 1rem 3rem;
}
.main div .mainCategorias__boton--estilo {
  background-color: #231123;
  border-color: black;
  border-radius: 3rem;
  width: 80%;
  padding: 1rem;
  margin: 2rem 0rem 3rem 3rem;
}
.main div .mainCategorias__boton--estilo ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0rem;
}
.main div .mainCategorias__boton--estilo ul li {
  list-style: none;
}
.main div .mainCategorias__boton--estilo ul li .mainCategorias__botonA--estilo {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffcab1;
}
.main div .mainCategorias__boton--estilo ul .mainCategorias__botonP--estilo {
  color: #ffcab1;
  font-size: 1.5rem;
}
.main div ul li {
  list-style: none;
}
.main div ul li div .mainCategorias__divBoton--estilo {
  background-color: #231123;
  border-color: black;
  border-radius: 3rem;
  width: 70%;
  padding: 1rem;
  margin: 2rem 0rem 3rem 6.1rem;
}
.main div ul li div .mainCategorias__divBoton--estilo .mainCategorias__divBotonA--estilo {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.main div ul li div .mainCategorias__divBoton--estilo .mainCategorias__flecha--estilo {
  border: solid;
  border-radius: 20px;
  margin-left: 2rem;
}
.main .mainCategorias__divCard--margen {
  width: 1000px;
  margin: 1rem 1rem 1rem 3rem;
}
.main .mainCategorias__divCard--margen div div .mainCategorias__divCard--estilos {
  margin: 1.5rem 0rem 1rem 2rem;
  border-radius: 20px;
  background-color: #231123;
}
.main .mainCategorias__divCard--margen div div .mainCategorias__divCard--estilos .mainCategorias__divCardImg--estilos {
  border-radius: 20px;
  height: 200px;
}
.main .mainCategorias__divCard--margen div div .mainCategorias__divCard--estilos .mainCategorias__divCardTexto--estilos {
  color: white;
}
.main .mainCategorias__divCard--margen div div .mainCategorias__divCard--estilos .mainCategorias__divCardTexto--estilos .mainCategorias__divCardH2--estilos {
  display: flex;
  justify-content: center;
}
.main .mainCategorias__divCard--margen div div .mainCategorias__divCard--estilos .mainCategorias__divCardTexto--estilos .mainCategorias__cardP--estilos {
  margin-left: 1.5rem;
}

/* sobreNosotros */
main .main__aside--position {
  display: inline-block;
}
main .main__aside--position .main__aside--display {
  position: fixed;
  top: 168px;
  right: 0px;
}
main .main__aside--position .main__aside--display .main__asideImg--estilo {
  width: 200px;
  height: 300px;
}
main div .main__titulo {
  align-items: center;
  text-align: center;
  margin: 1rem 5rem 4rem 0rem;
}
main div .main__titulo .main__h1 {
  font-size: 3.5rem;
  color: #231123;
}
main div div .main__divContacto--estilo {
  background-color: rgba(35, 17, 35, 0.368627451);
  border: double 5px rgba(35, 17, 35, 0.8784313725);
  border-radius: 5px 5px 10px 10px;
}
main div div .main__divContacto--estilo .main__divH2--estilo {
  display: flex;
  color: #231123;
  justify-content: center;
  margin-top: 1rem;
}
main div div .main__divContacto--estilo ul .main__divUlLi--estilo {
  display: flex;
  justify-content: center;
}
main div div .main__divContacto--estilo ul .main__divUlLi--estilo .main__divIcono--estilo, main div div .main__divContacto--estilo ul .main__divUlLi--estilo .main__divIconoTiktok--estilo {
  font-size: 1.5rem;
  margin: 1.5rem;
}
main div div .main__divContacto--estilo ul .main__divUlLi--estilo .main__divUlLiA--estilo {
  margin: 1.5rem 7rem 1rem 0rem;
  color: #231123;
  list-style: none;
  font-weight: 500;
}
main div div .main__divContacto--estilo ul .main__divUlLi--estilo .main__divIconoTiktok--estilo {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}
main div div .main__divContacto--estilo ul .main__divUlLi--estilo .main__divUlLiATiktok--estilo {
  margin: 1.5rem 8.5rem 1rem 0rem;
  color: #231123;
  list-style: none;
  font-weight: 500;
}
main div div div .main__divP--estilo {
  font-size: 1.33rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #231123;
  margin-right: 2rem;
}
main div .main__titulo {
  align-items: center;
  text-align: center;
  margin: 1rem 5rem 4rem 0rem;
}
main div .main__titulo .main__h1 {
  font-size: 3.5rem;
  color: #231123;
}
main div div div .main__divIFrame--estilo {
  width: 250px;
  height: 310px;
  margin: 1.5rem 1rem 1rem 2.5rem;
  border-radius: 25px;
}
main div div div .main__divCard--estilo {
  margin: 1.5rem 0rem 1rem 1rem;
  border-radius: 20px;
  background-color: #231123;
}
main div div div .main__divCard--estilo .main__divCardImg--estilo {
  width: 191px;
  height: 123px;
  border-radius: 20px;
}
main div div div .main__divCard--estilo div .main__divCardTitulo {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.3rem;
}
main div div div .main__divCard--estilo div .card-text {
  color: white;
}

/* Cuenta */
* {
  margin: 0;
  padding: 0;
}

main .mainCuenta__section--estilos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url(../imagenes/cuenta-imagenfondo-4-restaurante.avif) no-repeat;
  background-position: center;
  background-size: cover;
}
main .mainCuenta__section--estilos .mainCuenta__sectionDivContenedor--estilos {
  width: 400px;
  height: 500px;
  position: relative;
  border: solid 2px rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mainCuenta__section--estilos .mainCuenta__sectionDivContenedor--estilos h1 {
  font-size: 2.3rem;
  color: #fff;
  text-align: center;
  margin: 1.5rem 0rem 1rem 0rem;
}
main .mainCuenta__section--estilos .mainCuenta__sectionDivContenedor--estilos .mainCuenta__sectionFormGénero--estilos {
  margin: 1rem 0rem;
}
main .mainCuenta__section--estilos form div .inputcuentaclase {
  background-color: white;
  border-radius: 7px;
  color: black;
  padding: 0.5rem;
  margin: 0rem 3rem 1rem 0rem;
}

/* headerResponsive */
@media only screen and (max-width: 480px) {
  .header {
    display: inline-block;
    width: 100%;
  }
  .header .header__p--estilo {
    font-size: 4rem;
    padding-left: 30px;
  }
  .header .header__nav {
    display: flex;
    justify-content: center;
    margin-right: 5rem;
  }
  .header .header__nav .header__navUl {
    display: inline-block;
  }
  .header .header__nav .header__navUl .header__navUlLi {
    border-bottom: solid white;
    margin-right: 5rem;
  }
}
/* footerResponsive */
@media only screen and (max-width: 480px) {
  .footer {
    display: inline-block;
    width: 100%;
  }
  .footer .footer__div--flex {
    display: inline-block;
    width: 100%;
  }
  .footer .footer__div--flex div {
    justify-content: center;
    margin-left: 0.6rem;
  }
  .footer .footer__div--flex div ul {
    display: flex;
    justify-content: center;
  }
  .footer .footer__div--flex div ul li {
    margin: 0rem;
  }
  .footer .footer__div--flex div ul li .iconoResponsive {
    display: none;
  }
  .footer .footer__nav {
    display: flex;
    justify-content: center;
  }
  .footer .footer__nav .footer__navUl {
    display: inline-block;
    justify-content: center;
    margin-right: 7rem;
  }
  .footer .footer__nav .footer__navUl .footer__navUlLi {
    border-bottom: solid white;
  }
}
@media only screen and (max-width: 480px) {
  .linea {
    margin: 0rem 0rem 2rem 8.4rem;
  }
}
@media only screen and (max-width: 480px) {
  .main .carrusel--estilo {
    width: 100%;
    height: 100%;
    margin: 1rem 0rem;
  }
  .main .main__aside--position {
    display: none;
  }
  .main .main__titulo {
    width: 100%;
  }
  .main div h2 section .main__bienvenida {
    width: 100%;
    font-size: 1.5rem;
    margin: 0rem;
  }
  .main div .lineaResponsive {
    display: none;
  }
  .main div .linea {
    margin: 0rem;
    width: 100%;
  }
  .main .container div {
    display: inline-block;
    width: 100%;
  }
  .main .container div div .container__p--estiloImpar {
    font-size: 1.5rem;
    margin: 1rem 0rem 0rem 0rem;
    padding-left: 1rem;
  }
  .main .container div .container__div--estilo .container__imgImpar--estilo {
    width: 100%;
    margin: 2rem 1rem 1rem 1rem;
  }
  .main .container div .container__div--estilo .container__imgPar--estilo {
    width: 100%;
    margin: 1rem 0rem 0rem 1rem;
  }
  .main .container div div .container__p--estiloPar {
    font-size: 1.5rem;
    margin: 2rem 0rem 1rem 0rem;
  }
  .main .container div .container__div--estilo .container__imgBanquete--estilo {
    width: 100%;
    height: 100%;
  }
  .main .container div .container__p--estiloLargo {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .main .container div div .container__p--estiloFinal {
    margin: 1rem;
  }
  .main .container div .container__div--estilo .container__imgFamilia--estilo {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .main .mainNovedades__div--estilo .main__bienvenida {
    font-size: 1.5rem;
    margin: 0rem;
    width: 100%;
  }
  .main .divResponsive {
    width: 100%;
    display: none;
    /*boton*/
  }
  .main .lineaNovedades {
    width: 100%;
    margin: 0rem;
  }
  .main .mainNovedades__section ul {
    padding: 0rem;
  }
  .main .mainNovedades__section ul .mainNovedades__carrusel--estilo {
    width: 100%;
    margin: 0rem;
  }
  .main .mainNovedades__section ul .mainNovedades__carrusel--estilo div {
    display: inline-block;
  }
  .main .mainNovedades__section ul .mainNovedades__carrusel--estilo div .col-4 {
    width: 100%;
  }
  .main .mainNovedades__section ul .mainNovedades__carrusel--estilo div .col-4 .mainNovedades__divCard--estilos {
    width: 100%;
    height: 100%;
    margin: 1rem 0rem 1rem 4rem;
  }
}
@media only screen and (max-width: 480px) {
  .main .mainCategorias__div--estilo {
    width: 100%;
  }
  .main .mainCategorias__div--estilo .mainCategorias__bienvenida {
    width: 100%;
    margin: 0rem;
  }
  .main .divResponsive {
    display: none;
  }
  .main div ul {
    padding: 0rem;
  }
  .main div ul li div .mainCategorias__divBoton--estilo {
    width: 100%;
    margin: 0rem;
  }
  .main .mainCategorias__divCard--margen {
    width: 100%;
  }
  .main .mainCategorias__divCard--margen div .col-4 {
    width: 100%;
    margin: 0rem;
  }
}
@media only screen and (max-width: 480px) {
  main .main__aside--display {
    display: none;
  }
  main div .main__titulo {
    margin: 0rem;
  }
  main div .main__titulo .main__h1 {
    margin: 0rem 3rem 2rem 0rem;
    font-size: 3rem;
  }
  main div div .col-3 {
    width: 100%;
    margin-bottom: 2rem;
  }
  main div div .col-8 {
    width: 100%;
  }
  main div div .col-8 .main__divP--estilo {
    font-size: 1.3rem;
  }
  main div div div .main__divIFrame--estilo {
    width: 100%;
    margin: 0rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
