/* Cuenta */

* {
    margin: 0;
    padding: 0;
}


main {
    .mainCuenta__section--estilos {
        display: map-get($flexbox, display);
        justify-content: map-get($flexbox, justify);
        align-items: map-get($flexbox, align);
        width: 100%;
        min-height: 100vh;
        background: url(../imagenes/cuenta-imagenfondo-4-restaurante.avif) no-repeat;
        background-position: center;
        background-size: cover;
        .mainCuenta__sectionDivContenedor--estilos {
            @include imagenes (400px,500px);
            position: relative;
            border: solid 2px rgba(255, 255, 255, .6);
            border-radius: 20px;
            backdrop-filter: blur(3px);
            display: map-get($flexbox, display);
            justify-content: map-get($flexbox, justify);
            align-items: map-get($flexbox, align);
            h1 {
                font-size: $tamañoFuente+.8;
                color: #fff;
                text-align: center;
                margin: 1.5rem 0rem 1rem 0rem;
            }
            .mainCuenta__sectionFormGénero--estilos {
                margin: 1rem 0rem;
            }
        }
        form {
            div {
                .mainCuenta__inputBorrarEnviar--estilo {
                    background-color: white;
                    border-radius: 7px;
                    color: black;
                    padding: .5rem;
                    margin: 0rem 3rem 1rem 0rem;
                }
            }
        }
    }
    .animacion__estilo-1 {
        animation-delay: 3s;
        animation-duration: 3s;
    }
    .animacion__estilo-2 {
        animation-delay: 3.5s;
        animation-duration: 3s;
    }
    .animacion__estilo-3{
        animation-delay: 4s;
        animation-duration: 3s;
    }
    .animacion__estilo-4{
        animation-delay: 4.5s;
        animation-duration: 3s;
    }
    .animacion__estilo-5{
        animation-delay: 5s;
        animation-duration: 3s;
    }
    .animacion__estilo-6{
        animation-delay: 6s;
        animation-duration: 2.7s;
    }
}




