/* index */

.main {
    .carrusel--estilo {
        width: 1000px;
        height: 675px;
        margin: 1rem 1rem 1rem 5rem;

        .carrusel--estiloBordes {
            border-radius: 5rem;
        }
    }

    .main__aside--position {
        display: inline-block;

        .main__aside--display {
            position: fixed;
            top: 168px;
            right: 0px;

            .main__asideImg--estilo {
                @include imagenes (200px, 300px)
            }
        }

        .main__asideIconoWapp--display {
            position: fixed;
            top: 540px;
            left: 18px;

            .main__asideIcono--estilo {
                font-size: $tamañoFuente;
            }
        }

        .main__asideIconoInsta--display {
            position: fixed;
            top: 579px;
            left: 18px;

            .main__asideIcono--estilo {
                font-size: $tamañoFuente;
            }
        }
    }

    .main__titulo {
        align-items: map-get($flexbox, align);
        text-align: center;
        margin: 1rem 5rem 4rem 0rem;
        font-family: $tipografiaPrincipal;
        font-size: $tamañoFuente;

        .main__h1 {
            font-size: $tamañoFuente+2;
            color: map-get($colores, morado);
        }
    }

    h2 {
        .main__bienvenida {
            color: map-get($colores, morado);
            font-size: $tamañoFuente+1;
            font-family: $tipografiaPrincipal;
            text-align: center;
            margin: 1rem 13rem 1rem 3rem;
        }
    }

    .container {
        section {
            div {
                .container__p--estiloImpar {
                    font-size: $tamañoFuente+.5;
                    font-family: $tipografiaPrincipal;
                    text-align: center;
                    color: map-get($colores, morado);
                    margin: 1rem 1rem 0rem 0rem;
                }
            }

            .container__div--estilo {
                display: map-get($flexbox, display);
                justify-content: map-get($flexbox, justify);

                .container__imgImpar--estilo {
                    width: 550px;
                    border-radius: 4rem 6rem 3rem 12rem;
                    margin: 0rem 4rem 0rem 0rem;
                }
            }
        }

        section {
            .container__div--estilo {
                display: map-get($flexbox, display);
                justify-content: map-get($flexbox, justify);

                .container__imgPar--estilo {
                    width: 525px;
                    border-radius: 7rem 4rem 7rem 1rem;
                    margin: 2.5rem 0rem 0rem 0rem;
                }
            }

            div {
                .container__p--estiloPar {
                    font-size: $tamañoFuente+.5;
                    font-family: $tipografiaPrincipal;
                    text-align: center;
                    color: map-get($colores, morado);
                    margin: 4rem 2rem 1rem 5rem;
                }
            }
        }

        section {
            div {
                .container__p--estiloImpar {
                    font-size: $tamañoFuente+.5;
                    font-family: $tipografiaPrincipal;
                    text-align: center;
                    color: map-get($colores, morado);
                    margin: 1rem 1rem 0rem 0rem;
                }
            }

            .container__div--estilo {
                display: map-get($flexbox, display);
                justify-content: map-get($flexbox, justify);

                .container__imgImpar--estilo {
                    width: 550px;
                    border-radius: 4rem 6rem 3rem 12rem;
                    margin: 0rem 4rem 0rem 0rem;
                }
            }
        }

        section {
            .container__div--estilo {
                display: map-get($flexbox, display);
                justify-content: map-get($flexbox, justify);

                .container__imgBanquete--estilo {
                    border-radius: 6rem 10rem 4rem 10rem;
                    @include imagenes (950px, 500px)
                }
            }

            .container__p--estiloLargo {
                font-size: $tamañoFuente+.5;
                font-family: $tipografiaPrincipal;
                text-align: center;
                color: map-get($colores, morado);
                margin: 2rem 5rem 0rem 1rem;
            }
        }

        section {
            div {
                .container__p--estiloFinal {
                    font-size: $tamañoFuente;
                    font-family: $tipografiaPrincipal;
                    text-align: center;
                    color: map-get($colores, morado);
                    margin: 1rem 1rem 2rem 1rem;
                }
            }

            .container__div--estilo {
                display: map-get($flexbox, display);
                justify-content: map-get($flexbox, justify);

                .container__imgFamilia--estilo {
                    border-radius: 2rem 2rem 8rem 8rem;
                    margin-bottom: 1rem;
                    @include imagenes (600px, 375px)
                }
            }

            div {
                .container__p--estiloFinal {
                    font-size: $tamañoFuente;
                    font-family: $tipografiaPrincipal;
                    text-align: center;
                    color: map-get($colores, morado);
                    margin: 1rem 1rem 2rem 1rem;
                }
            }
        }
    }
}