/* sobreNosotros */

main {
    .main__aside--position {
        display: inline-block;
        .main__aside--display {
            position: fixed;
            top: 168px;
            right: 0px;
            

            .main__asideImg--estilo {
                @include imagenes (200px, 300px);
            }
        }
    }
    div {
        .main__titulo {
            align-items: map-get($flexbox, align);
            text-align: center;
            margin: 1rem 5rem 4rem 0rem;

            .main__h1 {
                font-size: $tamañoFuente+2;
                color: map-get($colores, morado);
            }
        }

        div {
            .main__divContacto--estilo {
                background-color: #2311235e;
                border: double 5px #231123e0;
                border-radius: 5px 5px 10px 10px;

                .main__divH2--estilo {
                    display: map-get($flexbox, display);
                    color: map-get($colores, morado);
                    justify-content: map-get($flexbox, justify);
                    margin-top: 1rem;
                }

                ul {
                    .main__divUlLi--estilo {
                        display: map-get($flexbox, display);
                        justify-content: map-get($flexbox, justify);

                        .main__divIcono--estilo {
                            font-size: 1.5rem;
                            margin: 1.5rem;
                        }

                        .main__divUlLiA--estilo {
                            margin: 1.5rem 7rem 1rem 0rem;
                            color: map-get($colores, morado);
                            list-style: map-get($listasLinks, liEstilo);
                            font-weight: 500;
                        }

                        .main__divIconoTiktok--estilo {
                            @extend .main__divIcono--estilo;
                            margin: 1.5rem 1.5rem 1.5rem 1.5rem;
                        }

                        .main__divUlLiATiktok--estilo {
                            margin: 1.5rem 8.5rem 1rem 0rem;
                            color: map-get($colores, morado);
                            list-style: map-get($listasLinks, liEstilo);
                            font-weight: 500;
                        }
                    }
                }
            }

            div {
                .main__divP--estilo {
                    font-size: 1.33rem;
                    text-align: center;
                    font-family: $tipografiaPrincipal;
                    color: map-get($colores, morado);
                    margin-right: 2rem;
                }
            }
        }

        .main__titulo {
            align-items: map-get($flexbox, align);
            text-align: center;
            margin: 1rem 5rem 4rem 0rem;

            .main__h1 {
                font-size: $tamañoFuente+2;
                color: map-get($colores, morado);
            }
        }

        div {
            div {
                .main__divIFrame--estilo {
                    @include imagenes (250px,310px);
                    margin: 1.5rem 1rem 1rem 2.5rem;
                    border-radius: 25px;
                }
            }

            div {
                .main__divCard--estilo {
                    margin: 1.5rem 0rem 1rem 1rem;
                    border-radius: 20px;
                    background-color: map-get($colores, morado);

                    .main__divCardImg--estilo {
                        @include imagenes (191px,123px);
                        border-radius: 20px;
                    }

                    div {
                        .main__divCardTitulo {
                            display: map-get($flexbox, display);
                            justify-content: map-get($flexbox, justify);
                            color: white;
                            font-size: 1.3rem;
                        }
                        .card-text {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}