.main {
    div {
        button {
            ul {
                li {
                    .mainCategorias__botonA--estilo:hover {
                        font-size: 1.7rem;
                        color: white;
                    }
                }
            }
        }
    }

    section {
        button {
            .mainCategorias__divBotonA--estilo:hover {
                font-size: 1.7rem;
                color: white;
            }
        }

        div {
            .mainCategorias__divCard--estilos::after {
                position: absolute;
                top: 0px;
                left: 0px;
                content: " ";
                background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
                width: 100%;
                height: 102%;
                filter: blur(10px);
                z-index: -1;
            }
        }
    }
}