/* header */

.header {
    background-color: map-get($colores, morado);
    padding: 1rem;
    display: map-get($flexbox, display);
    justify-content: space-between;
    align-items: map-get($flexbox, align);

    .header__p--estilo {
        color: map-get($colores, rosado);
        font-size: $tamañoFuente+3.5;
        font-family: $tipografiaPrincipal;
    }

    .header__nav {
        .header__navUl {
            display: map-get($flexbox, display);

            .header__navUlLi {
                list-style: map-get($listasLinks, liEstilo);
                font-size: 20px;
                font-family: $tipografiaPrincipal;
                font-weight: 600;
                font-style: oblique;
                margin: 1.5rem;

                .header__navUlLiA {
                    color: map-get($colores, rosado);
                    text-decoration: map-get($listasLinks, decoracion);
                }
                .header__navUlLiA:hover {
                    color: white;
                    font-size: 22px;
                }
            }
        }
        
    }
    
}