

@keyframes zumbido {
    0% {
        transform: rotate(0);
    }
    12% {
        transform: rotate(15deg);
    }
    24% {
        transform: rotate(30deg);
    }
    36%{
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0);
    }
    62% {
        transform: rotate(-15deg);
    }
    74% {
        transform: rotate(30deg);
    }
    86% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes latido {
    0% {
        transform: scale(1) ;
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

