/* generales */

@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

.backgroundColor {
    background-color: #FFCAB1;
}


.linea {
    border: double 5px #231123cf;
    margin: 2rem 0rem 2rem 0rem;
    padding: 0rem;
}


.row_margin {
    margin: 0rem;
    padding: 0rem;
}



